@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    padding-top: 80px;
    margin-bottom: 60px;
  }
  
  .breadcrumb {
      background-color: rgba(0,0,0,.03);
      border: 1px solid rgba(0,0,0,.125);
  }
  
  #content {
      margin-bottom: 25px;
  }
  
  .adsbygoogle {
      margin-bottom: 15px;
  }
  
  #menu {
      padding: 0;
      margin: 0;
      border: 0; 
  }
  
  #menu ul, li {
      list-style: none;
      margin: 0;
      padding: 0; 
  }
  
  #menu ul {
      position: relative;
      z-index: 597;
      float: left; 
  }
  
  #menu ul li {
      float: left;
      min-height: 1px;
      line-height: 1em;
      vertical-align: middle; 
  }
  
  #menu ul li.hover,
  #menu ul li:hover {
      position: relative;
      z-index: 599;
      cursor: default; 
  }
  
  #menu ul ul {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 598;
      width: 100%; 
  }
  
  #menu ul ul li {
      float: none; 
  }
  
  #menu ul li:hover > ul {
      visibility: visible; 
  }
  
  #menu ul ul {
      top: 0;
      left: 100%; 
  }
  
  #menu ul li {
      float: none; 
  }
  
  #menu {
      width: 118px; 
  }

  #menu li ul {
    width: 600px;
    background-color: #f6f6f6;
  }
  
  #menu span, #menu a {
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      text-decoration: none; 
  }
  
  #menu:after, #menu ul:after {
      content: '';
      display: block;
      clear: both; 
  }
  
  #menu ul, #menu li {
      width: 100%; 
  }
  Color fondo menu 
  #menu li {
      background: #dddddd;
  }
  
  #menu li:hover {
      background: #f6f6f6;
  }
  #menu a {
      color: #8181b4;
      line-height: 160%;
      padding: 0px 0px 6px 0px;
      width: 253px; 
      font-size: 16px !important;
  }
  #menu ul ul li {
    background: #f6f6f6;
  }
  #menu ul ul li:hover {
      background: #dddddd;
      transition: 0ms;
  }
  #menu ul ul li:hover a {
      color: black;
      transition: 0ms;
  }
  #menu ul ul li ul li {
      background: #dddddd;
  }
  #menu ul ul li ul li:hover {
      background: #b7b7b7;
      transition: 0ms;
  }
  #menu .has-sub {
      position: relative; 
  }
  
  #menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
      content: '';
      display: block;
      width: 10px;
      height: 9px;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -5px;
  }
  
  #menu .fa-angle-right {
      float: right;
  }