.ps-section--featured {
    .ps-section__title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 34px;
        color: $color-1st;
        text-align: center;
        font-weight: 600;
    }

    .ps-shop__more {
        display: none;
        margin-top: 30px;
        text-align: center;

        a {
            border: 1px solid $color-border;
            color: $color-1st;
            padding: 3px 10px;
            min-width: 80px;
            font-size: 14px;
            border-radius: 40px;
        }
    }

    .ps-section__content {
        .row {
            border-top: 1px solid $color-border;
            border-right: 1px solid $color-border;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .ps-section__product {
        border-left: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        height: 100%;
        .ps-product__title {
            overflow: hidden;
        }
    }

    @media (min-width: 992px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 1024px) {
        .ps-section__title {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

.ps-section--choose-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .ps-section__title {
        font-size: 30px;
        line-height: 34px;
        color: $color-1st;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }

    .ps-section__product {
        padding: 0 5px 5px;
        flex-grow: 1;
        width: 50%;
        flex-basis: 50%;
    }

    .ps-section__content {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        margin-left: -5px;
        margin-right: -5px;
    }

    .ps-product--standard {
        border-radius: 4px;
        .ps-product__title {
            margin-bottom: 15px;
        }
        .ps-product__desc {
            display: block;
            margin-bottom: 20px;
        }

        .ps-product__meta {
            margin-bottom: 10px;
        }

        .ps-product__content {
            .ps-product__actions {
                padding-bottom: 0;
            }
        }
    }

    @media (min-width: 768px) {
        .ps-section__product {
            padding: 0 10px;
            width: 33.3333333333%;
            flex-basis: 33.3333333333%;
        }
    }

    @media (min-width: 1024px) {
        .ps-section__title {
            font-size: 40px;
        }

        .ps-section__content {
            max-width: 990px;
            margin: auto;
        }

        .ps-section__product {
            padding: 0 15px;
        }

        .ps-product--standard {
            .ps-product__content {
                .ps-product__actions {
                    display: block;
                }

                .ps-product__item {
                    display: none;
                }

                .ps-product__cart {
                    display: block;
                }
            }
        }
    }
}

.ps-section--black-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .ps-section__title {
        font-size: 30px;
        line-height: 34px;
        color: $color-1st;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }

    .ps-section__product {
        padding: 0 5px 5px;
        flex-grow: 1;
        width: 50%;
        flex-basis: 50%;
    }

    .ps-section__content {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        margin-left: -5px;
        margin-right: -5px;
    }

    .ps-product--standard {
        background-color: transparent;
        text-align: center;
        .ps-product__branch, .ps-product__rating {
            display: none;
        }

        .ps-product__title {
            min-height: auto;
            color: $color-heading;
            margin-bottom: 8px;
        }

        .ps-product__meta {
            margin-bottom: 15px;
        }

        .ps-product__price {
            color: $color-heading;
            font-size: 20px;
            
            &.sale {
                color: $color-warning;
            }
        }

        .ps-product__del {
            color: $color-heading;
            font-size: 16px;
        }

        .ps-product__content {
            .ps-product__actions, .ps-product__cart, .ps-product__quantity {
                display: block;
            }

            .ps-product__item {
                display: none;
            }
        }

        .ps-product__quantity {
            margin-bottom: 10px;
        }

        .ps-product__cart {
            .ps-btn {
                min-width: 0;
                width: 100%;
                font-weight: 500;
                padding: 8px 10px;
                font-size: 100%;
                line-height: 24px;
            }
        }
    }

    @media (min-width: 768px) {
        .ps-section__product {
            padding: 0 10px;
            width: 33.3333333333%;
            flex-basis: 33.3333333333%;
        }

        .ps-product--standard {
            .ps-product__quantity {
                width: 172px;
                margin: 0 auto 10px;
            }
            .ps-product__cart {
                .ps-btn {
                    min-width: 172px;
                    width: auto;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .ps-section__title {
            font-size: 40px;
        }

        .ps-section__content {
            max-width: 990px;
            margin: auto;
        }

        .ps-section__product {
            padding: 0 15px;
        }

        .ps-product--standard {
           .ps-product__cart {
                .ps-btn {
                    padding: 10px;
                    font-size: 115%;
                    min-width: 172px;
                }
            }

            .ps-product__quantity {
                .number-input {
                    button {
                        padding: 16px;
                    }
                }
            }
        }
    }
}
