.ps-landing {
    background-color: #F0F2F5;
}

.ps-landing--block {
    padding-bottom: 80px;
    .ps-landing__title {
        color: $color-1st;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .ps-landing__content {
        overflow: hidden;
    }

    .ps-landing__item {
        margin-left: -35px;
        margin-right: -35px;
        padding-bottom: 20px;

        img {
            width: 100%;
        }

        &.no-margin {
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 40px;
            .ps-landing__text {
                margin-top: 25px;
            }
        }
    }

    .ps-landing__text {
        text-align: center;
        margin-top: -35px;
        margin-bottom: 0;
        padding: 0 15px;

        a {
            color: $color-1st;
            font-weight: 600;
            font-size: 14px;
        }
    }

    @media (min-width: 768px) {
        .ps-landing__title {
            font-size: 35px;
        }
    }

    @media (min-width: 992px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 1280px) {
        .ps-landing__title {
            font-size: 40px;
        }
        .ps-landing__text { 
            font-size: 15px;
        }
    }
}

.ps-landing--footer {
    background: linear-gradient(180deg, #0F3484 0%, #4B6CB3 100%);
    padding-top: 80px;
    position: relative;
    overflow: hidden;

    .ps-landing__round {
        position: absolute;
        right: 0;
        top: 0;
    }

    .ps-landing__title {
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .ps-landing__button {
        text-align: center;
        .ps-btn {
            width: auto;
            font-size: 16px;
        }
    }

    .ps-landing__content {
        text-align: center;
        img {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        .ps-landing__title {
            font-size: 50px;
        }

        .ps-landing__button {
            .ps-btn {
                font-size: 18px;
                padding: 14px 50px;
            }
        }

        .ps-landing__content {
            img {
                width: 70%;
            }
        }
    }

    @media (min-width: 1280px) {
        .ps-landing__title {
            font-size: 60px;
        }

        .ps-landing__button {
            .ps-btn {
                padding: 16px 50px;
                font-size: 21px;
            }
        }

        .ps-landing__content {
            img {
                width: 50%;
            }
        }
    }
}
