.ps-section--latest {
    .ps-section__title {
        color: $color-1st;
        font-weight: bold;
        line-height: 50px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .ps-section__carousel {
        padding-bottom: 50px;
        border-radius: 4px;
    }

    .ps-section__product {
        border-left: 1px solid $color-border;
    }

    .owl-carousel {
        border: 1px solid $color-border;
        border-radius: 4px;

        .owl-dots {
            bottom: -50px;
        }

        .owl-nav {
            display: none;
            .owl-prev {
                margin-left: -30px;
            }

            .owl-next {
                margin-right: -30px;
            }
        }

        .owl-item:not(.active) + .owl-item.active {
            .ps-section__product {
                border-left: none;
            }
        }
    }

    @media (min-width: 1024px) {
        .ps-section__title {
            font-size: 40px;
        }
        .owl-carousel {
            .owl-nav {
                display: block;
            }
        }
    }
}

.ps-section--latest-horizontal {
    .ps-section__title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $color-1st;
        text-align: center;
        font-weight: 600;
    }
    .ps-section__content {
        border-top: 1px solid $color-border;
        border-right: 1px solid $color-border;
    }

    .ps-section__product {
        border-left: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        height: 100%;
        .ps-product__title {
            min-height: 50px;
        }

        .ps-product--standard {
            padding-top: 10px;
        }
    }

    @media (min-width: 1280px) {
        .ps-section__title {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

.ps-section--also {
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    padding: 70px 0 120px;

    .ps-section__title {
        color: $color-1st;
        text-align: center;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
    }

    .ps-section__carousel {
        background-color: white;
    }

    .ps-product--standard {
        border-left: 1px solid $color-border;
        .ps-product__title {
            min-height: 72px;
        }
    }

    .owl-dots {
        bottom: -40px;
    }

    .owl-nav {
        display: none;
        .owl-prev {
            margin-left: -25px;
        }

        .owl-next {
            margin-right: -25px;
        }
    }

    @media (min-width: 1280px) {
        .ps-section__title {
            font-size: 30px;
            line-height: 40px;
        }

        .owl-carousel {
            &:hover {
                .owl-nav {
                    display: block;
                }
            }
        }
    }
}
