@import "utilies/settings";
.ps-home--8 {
    .ps-home__content {
        padding-top: 20px;
    }

    .ps-promo {
        padding-bottom: 0;
        display: none;
        margin-left: -15px;
        margin-right: -15px;

        &.mobile {
            display: block;
        }

        .ps-promo__banner {
            max-height: 258px;
        }
    }

    .ps-section--banner {
        padding-bottom: 50px;
        .owl-dots {
            bottom: -30px;
        }
    }

    .ps-home__banner {
        margin-bottom: 50px;
    }

    .ps-section--category {
        padding: 30px 0 50px;

        .ps-section__title {
            display: none;
        }

        .col-6 {
            &:nth-child(5), &:nth-child(6) {
                display: none;
            }
        }
    }

    .ps-section--latest {
        margin: 30px 0 50px;
    }

    .ps-home__promo {
        display: block;
        margin: 0;
        padding-top: 30px;
    }

    .ps-section--featured {
        padding: 30px 0 50px;
        .ps-shop__more {
            display: block;
        }

        .col-6 {
            &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
                display: none;
            }
        }
    }

    .ps-section--instagram {
        padding: 30px 0 80px;
    }

    .ps-section--newsletter {
        padding: 80px 0;
    }

    .ps-home__line {
        border-top: 1px solid $color-border;
    }

    @media (min-width: 768px) {
        .ps-section--banner {
            margin: 0;
        }

        .ps-promo {
            padding-bottom: 20px;
            display: block;
            margin: 0;

            &.mobile {
                display: none;
            }
        }

        .ps-section--category {
            .col-md-4 {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }

    @media (min-width: 1280px) {
        .ps-banner {
            height: 450px;

            .ps-banner__title {
                line-height: 60px !important;
                font-size: 50px i !important;
            }

            .ps-banner__price {
                span {
                    font-size: 50px;
                }

                del {
                    font-size: 24px;
                }
            }

            .ps-banner__desc {
                font-size: 22px;
            }

            .ps-banner__shop {
                font-size: 20px;
            }
        }

        .ps-home__banner {
            .ps-banner {
                height: 350px;
            }

            .ps-banner__content {
                padding: 4%;
            }
        }
    }
}